body {
    margin: 0;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
}

/* CONTENEDOR GENERAL */
.contenedor-acceso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* TARJETA */
.tarjeta-acceso {
    width: 380px;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

/* TITULO */
.titulo-acceso {
    text-align: center;
    margin-bottom: 20px;
    color: #111827;
}

/* BOTON */
.boton-acceso {
    background-color: #111827;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    transition: 0.2s;
}

    .boton-acceso:hover {
        background-color: #1f2937;
    }

/* LINKS */
.link-acceso {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

    .link-acceso a {
        color: #111827;
        font-weight: bold;
        text-decoration: none;
    }

        .link-acceso a:hover {
            text-decoration: underline;
        }